body{
    background: #FFC700;
    align-items: center;
    justify-content: center;
}


.navbar ul{
    background-color: #c4c4c4;
    width: 100%;
    box-shadow: 0 0 5px #000000;
}

.navbar li {
    width: auto;
    height: 100%;
    padding: 1.5rem;
    margin-right: 0px;
    font-size: 20px;
    margin-left: inherit;
    transition: 0.4s;
    display: inline-flex;
    
    font-weight: bold;
}

.navbar li:hover{
    background-color: #919191;
}

.container {
    display: flex;
    position: relative;

    width: 1200px;
    height: 1200px;
    background: #ffffff;
    box-shadow: inset ;
    margin: auto;
    box-shadow: inset 0 0 5px #000000;
    margin-bottom: 100px;
}

.container h1{
    position: relative;
    display: flex;
    text-align: center;
    font-weight: bold;
    color: #4A7CFC;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
    font-size: 40px;
}