body{
    background: #FFC700;
}


.navbar ul{
    background-color: #c4c4c4;
    width: 100%;
    box-shadow: 0 0 5px #000000;
}

.navbar li {
    width: auto;
    height: 100%;
    padding: 1.5rem;
    margin-right: 0px;
    font-size: 20px;
    margin-left: inherit;
    transition: 0.4s;
    display: inline-flex;
    justify-content: end;
}

.navbar li:hover{
    background-color: #919191;
}