body{
    background: #FFC700;
    align-items: center;
    justify-content: center;
    display: block;
}

.navbar ul{
    background-color: #c4c4c4;
    box-shadow: 0 0 5px #000000;
}

li img{
    display: flex;
    margin-bottom: 0;
}

.navbar li:first-child {
    color: #4A7CFC;
}

.navbar li {
    width: auto;
    height: 100%;
    padding: 1.5rem;
    margin-right: 0px;
    font-size: 20px;
    margin-left: inherit;
    transition: 0.4s;
    display: inline-flex;
    
    font-weight: bold;
}



.navbar li a {
    text-decoration: none;
    color: #000000;
}

.navbar li:hover{
    background-color: #919191;
    cursor: pointer;
}

.navbar a:hover{
    cursor: pointer;
}

.firstsection{
    display: flex;
    position: relative;
    z-index: 10;
    
}

.container {
    display: inline-block;
    position: relative;

    width: 1100px;
    height: 1800px;
    background: #ffffff;
    box-shadow: inset ;
    margin: auto;
    box-shadow: inset 0 0 5px #000000;
    margin-bottom: 25px;
    text-align: center;
    border-radius: 0px 0px 5px 5px;
}

.container h1{
    position: relative;
    display: inline-flex;
    text-align: center;
    font-weight: bold;
    color: #4A7CFC;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
    font-size: 40px;
    /* padding: 25px; */
}

.container .homeimages{
    display: inline-block;
    position: relative;
    margin: 0px 50px 0px 50px;
    justify-content: center;
    
}

.container .homeimages img{
    /* box-shadow: inset 0 0 5px; */
    padding: 25px;
    border-radius: 100%;
    /* transition: 0.2s; */
}

/* .container .homeimages img:hover{
    width: 275px;
    height: 275px;
} */

.buttonfs{
    border-style: none;
    width: 400px;
    height: 100px;
    font-size: 25px;
    font-family: "Noto Sans SC", sans-serif;
    font-weight: bold;
    color: #000000;
    background: #FFC700;
    border: none;
    border-radius: 5px;
    box-shadow: inset 0 0 5px;
    border: none;
    /* outline: 0; */
}

.buttonfs:hover{
    cursor: pointer;
}


.line {
    background: #c4c4c4;
    width: 1000px;
    height: 7px;
    display: flex;
    margin-top: 20px;
    margin: 30px auto ;
    border-radius: 2px;
}

.secondsection {
    margin: 30px auto auto 0px;
    display: flex;
}

.secondsection img{
    display: flex;
    margin-left: 100px;    
}

.rightpart {
    display: inline-block;
    padding: 0px 40px 40px 40px;
}

.rightpart p{
    margin: auto;
    padding: 10px;
    font-size: 20px;
}

.navbar{
    width: 100%;
    height: 100%;
}

.navbar2 ul{
    display: inline-flex;
    padding: 15px;
}

.navbar2 li{
    display: flex;
    background: #c4c4c4;
    padding: 10px; 
    transition: 0.2s;
}

.navbar2 li:hover{  
    font-family: "Noto Sans SC", sans-serif;
    background: #919191;
    cursor: pointer;

}


.lastsection {
    display: flex;
    height: 500px;
}

.lastleft {
    width: 50%;
}

h2{
    color: #000000;
    margin: 10 px auto;
    font-weight: bold;
    line-height: 1.5;
}


.lastright {
    float: right;
    width: 50%;
    height: 100%;
    align-items: center;
    position: relative;
}

.socialmedias{
    padding: 5px;
    display: block;
    margin: auto;
}

.lastright img{
    padding: 5px;
    transition: 0.2s;
    position: relative;
}

.lastsection img:hover{
    cursor: pointer;
}

.divform{
    display: inline-flex;
    vertical-align: center;
    align-items: center;
    margin: auto;
}

.input, textarea{
    margin-left: 5px;
    color:#90A4AE;
    display: flex;
    width: 300px;
    margin-top: 10px;
    font-size: 20px;
    border-radius: 5px;
    border-color: #c4c4c4;
    outline: none;
    padding: 5px;
    resize: none;
}

.lastbutton{
    font-family: "Noto Sans SC", sans-serif;
    font-weight: bold;
    font-size: 20px;
    width: 200px;
    height: 80px;
    background: #FFC700;
    text-align: center;
    margin: 5px;
    box-shadow: inset 0 0 4px #000000;
    border: none;
    border-radius: 5px;

}

footer{
    background: #c4c4c4;
    width: 100%;
    height: 50px;
    box-shadow: 0 0 5px #000000;
    display: flex;
    text-align: center;
    margin: auto;
}

.form{
    display: flex;
    width: auto;
    height: 275px;
    margin: auto;;
}

.formleft{
    display: block;
    width: 70%;
    height: 90%;
   padding: 20px;
}

.formleft input{
    /*Estilização dos inputs*/
    border: none;
    border-bottom: 1px #C4C4C4 solid;
    width: 300px;
    font-family: 'Noto Sans SC', sans-serif;

    /* Estilização do texto dos inputs */
    font-size: 16px;
    color:#35363A ;

    outline: none;
    padding: 5px;
    margin: 10px;
}

.formleft textarea{
    width: 300px;
    height: 100px;
    font-size: 12;
    font-family: 'Noto Sans SC', sans-serif;
}

.formright{
    display: flex;
    width: 30%;
    height: 90%;
    padding: 20px;
}



footer img{
    margin: auto 0px auto auto;
}

footer p{
    margin: auto auto auto 0px;   
}